In [1]:
import pandas as pd
import numpy as np

    Input variables:
   # bank client data:
   1 - age (numeric)
   2 - job : type of job (categorical: "admin.","blue-collar","entrepreneur","housemaid","management","retired","self-employed","services","student","technician","unemployed","unknown")
   3 - marital : marital status (categorical: "divorced","married","single","unknown"; note: "divorced" means divorced or widowed)
   4 - education (categorical: "basic.4y","basic.6y","basic.9y","high.school","illiterate","professional.course","university.degree","unknown")
   5 - default: has credit in default? (categorical: "no","yes","unknown")
   6 - housing: has housing loan? (categorical: "no","yes","unknown")
   7 - loan: has personal loan? (categorical: "no","yes","unknown")
   # related with the last contact of the current campaign:
   8 - contact: contact communication type (categorical: "cellular","telephone") 
   9 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
  10 - day_of_week: last contact day of the week (categorical: "mon","tue","wed","thu","fri")
  11 - duration: last contact duration, in seconds (numeric). Important note:  this attribute highly affects the output target (e.g., if duration=0 then y="no"). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
   # other attributes:
  12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
  13 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
  14 - previous: number of contacts performed before this campaign and for this client (numeric)
  15 - poutcome: outcome of the previous marketing campaign (categorical: "failure","nonexistent","success")
   # social and economic context attributes
  16 - emp.var.rate: employment variation rate - quarterly indicator (numeric)
  17 - cons.price.idx: consumer price index - monthly indicator (numeric)     
  18 - cons.conf.idx: consumer confidence index - monthly indicator (numeric)     
  19 - euribor3m: euribor 3 month rate - daily indicator (numeric)
  20 - nr.employed: number of employees - quarterly indicator (numeric)

  Output variable (desired target):
  21 - y - has the client subscribed a term deposit? (binary: "yes","no")

8. Missing Attribute Values: There are several missing values in some categorical attributes, all coded with the "unknown" label. These missing values can be treated as a possible class label or using deletion or imputation techniques.

In [4]:
bank = pd.read_csv("bank-additional-full.csv",sep=";")

In [8]:
bank["y"].value_counts()

no     36548
yes     4640
Name: y, dtype: int64

In [10]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [11]:
col_bank=bank[["age","job","marital","education","default","housing","loan","contact","month","day_of_week","duration","campaign","pdays","previous","y"]]

In [27]:
col_bank.previous.value_counts()

0    35563
1     4561
2      754
3      216
4       70
5       18
6        5
7        1
Name: previous, dtype: int64

In [29]:
graph_1 = col_bank.groupby("y")["previous"].value_counts()

In [33]:
g_1=pd.DataFrame(graph_1)

In [36]:
g_1

              previous
y   previous
no  0            32422
    1             3594
    2              404
    3               88
    4               32
    5                5
    6                2
    7                1
yes 0             3141
    1              967
    2              350
    3              128
    4               38
    5               13
    6                3

In [40]:
g_1.to_csv('g_1.csv')

In [37]:
graph_2 = col_bank.groupby("y")["education"].value_counts()

In [38]:
graph_2

y    education
no   university.degree      10498
     high.school             8484
     basic.9y                5572
     professional.course     4648
     basic.4y                3748
     basic.6y                2104
     unknown                 1480
     illiterate                14
yes  university.degree       1670
     high.school             1031
     professional.course      595
     basic.9y                 473
     basic.4y                 428
     unknown                  251
     basic.6y                 188
     illiterate                 4
Name: education, dtype: int64